@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Proxima Nova", system-ui, sans-serif;
    font-size: 100%;
  }

  body {
    font-family: theme("fontFamily.Roboto") system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    line-height: 1;
    font-weight: 400;

    @apply dark:text-primary-100 dark:bg-surface-100 bg-color-surface-100 text-color-primary-100;
  }

  header,
  footer {
    @apply dark:bg-surface-300 bg-color-surface-300;
  }

  footer {
    filter: drop-shadow(0 -4px 3px rgb(0 0 0 / 0.07))
      drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-family: theme("fontFamily.Playfair");
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  h1 {
    font-size: clamp(2rem, 5vw, 4rem);
  }

  h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
  }

  h3 {
    font-size: clamp(1.25rem, 2.5vw, 2.5rem);
  }

  h4 {
    font-size: clamp(1rem, 2vw, 2rem);
  }

  h5 {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
  }

  p,
  label,
  a {
    margin: 0;
    font-size: clamp(0.8rem, 1vw, 1.3rem);
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }

  li {
    list-style: none;
  }

  img {
    max-width: 100%;
  }

  input {
    @apply dark:bg-surface-200 dark:placeholder:text-primary-300 bg-color-surface-500 placeholder:text-color-primary-200 rounded leading-8 text-lg py-2 px-4 max-w-60;
  }
}

@layer components {
  .img {
    @apply w-full block object-cover;
  }

  .container {
    @apply my-0 mx-auto py-12 px-8;
  }

  .btn {
    @apply bg-color-primary-100 duration-300 rounded-3xl py-3 px-4 capitalize active:scale-90 dark:bg-primary-500 dark:text-black leading-6 text-white;
  }

  .link {
    @apply after:content-[''] after:block after:h-0.5 after:w-0 after:bg-color-primary-100 dark:after:bg-primary-100 after:duration-500 hover:after:w-full;
  }

  .paragraph {
    @apply my-4 leading-8;
  }

  .card {
    @apply border rounded-lg grid gap-4 border-color-primary-100 dark:border-primary-300 dark:bg-surface-200 bg-color-surface-400;
  }

  .detail-name {
    @apply mr-2 border-b-2;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 100%;
  min-height: 50vh;
  padding-top: 3rem;

  & > div {
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    border: 7px solid #ebe8e9;
    border-radius: 50%;
    border-top-color: #533f48;
    animation: spinner 0.6s linear infinite;
  }
}
